body{
    padding: 0;
    margin: 0;
    background-color: lavenderblush;
}
header{
    display: flex;
    color: wheat;
    justify-content: space-around;
    padding: 0;
    background-color: bisque;
    
}
header ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    
}
ul li{
    margin: 0 15px;
    width: fit-content;
}